body{
    background-color: rgb(71,135,196);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{

    font-size: 26px;
    margin-top: 3em;
    font-family: sans-serif;
}
h1{
 text-align: center;
  margin: 2em;
}
ul{
text-align: center;
  margin: 2em;
}
title{
    color:cornflowerblue;
    font-size: large;
}
img{

width: 50%
border-radius:50%
}
footer{
justify-content: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #666;
    color: #fff;
}




